@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset,
img {
  border: 0 none;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
}
input:checked[type=checkbox] {
  background-color: #e4e4e4;
  -webkit-appearance: checkbox;
     -moz-appearance: checkbox;
          appearance: checkbox;
}

button {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
          appearance: none;
}

/* 기본 폰트 설정 */
/* mobile */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: "Noto Sans KR", sans-serif;
  color: #1d1d1d;
  font-weight: 400;
}

a {
  color: #1d1d1d;
  text-decoration: none;
}
a:active, a:hover {
  text-decoration: none;
}

@media screen and (min-width: 1280px) {
  a {
    color: #1d1d1d;
    text-decoration: none;
  }
  a:active, a:hover {
    text-decoration: underline;
  }
}
address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "Malgun Gothic";
}

/* 웹폰트 사용시 점이 안보임 - 기본 폰트 사용  */
/* skipnavigation */
#u-skip {
  position: relative;
  z-index: 3000;
}
#u-skip a {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  display: inline-block;
  padding: 7px 10px 5px;
  background: #1d1d1d;
  color: #fff;
  text-decoration: none;
  text-align: center;
  opacity: 0;
}
#u-skip a:focus {
  top: 0;
  opacity: 1;
  z-index: 1000;
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  background: url(../../images/comm/img-comm.png) no-repeat;
  vertical-align: top;
}

/* 이미지 */
/* global */
.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}

:root {
  --swiper-theme-color: red;
}

.swiper-button-play-pause {
  z-index: 100;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper.overlay .swiper-slide {
  position: relative;
}
.swiper.overlay .swiper-slide a::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7));
}
.swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.swiper .swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
}
.swiper .swiper-button-next::after,
.swiper .swiper-button-prev::after {
  display: none;
}
.swiper .swiper-button-next::before,
.swiper .swiper-button-prev::before {
  font-family: "Line Awesome Free";
  font-weight: 900;
  font-size: 3rem;
  color: #000;
  opacity: 0.5;
}
.swiper .swiper-button-next::before {
  content: "\f138";
}
.swiper .swiper-button-prev::before {
  content: "\f137";
}

.info-more {
  position: relative;
}
.info-more button {
  position: absolute;
  top: -15px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  padding: 8px 11px 8px 14px;
  border: 1px solid #000;
  border-radius: 18px;
}
.info-more button::after {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  background: url(../../../resources/images/pattern/common/arrow-right-black.svg) no-repeat 0 0;
}

.inner {
  position: relative;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 600px) {
  .inner {
    padding: 0 40px;
  }
}
@media (min-width: 1440px) {
  .inner {
    padding: 0 40px 0 160px;
  }
}

#skip-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  text-align: center;
  background-color: #1d1d1d;
}
#skip-nav a:not(:focus) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
#skip-nav a:focus {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  outline-offset: -0.4rem;
  outline: 2px solid #ed1b2c;
  font-size: 1.5rem;
  color: #fff;
  width: 100%;
  height: 3.2rem;
  margin: 0 auto;
  text-align: center;
}
#skip-nav.type1 {
  background-color: #fff;
}
#skip-nav.type1 a:focus {
  color: #1d1d1d;
}

.sec-g {
  overflow: hidden;
  padding-top: 100px;
}
@media (min-width: 600px) {
  .sec-g {
    padding-top: 150px;
  }
}
@media (min-width: 1440px) {
  .sec-g {
    padding-top: 256px;
  }
}
.sec-g__tit {
  padding-bottom: 25px;
}
@media (min-width: 600px) {
  .sec-g__tit {
    padding-bottom: 35px;
  }
}
@media (min-width: 1440px) {
  .sec-g__tit {
    padding-bottom: 68px;
  }
}
.sec-g__tit h2 {
  line-height: 1;
  letter-spacing: -1px;
  font-size: 30px;
}
@media (min-width: 600px) {
  .sec-g__tit h2 {
    font-size: 38px;
  }
}
@media (min-width: 1440px) {
  .sec-g__tit h2 {
    font-size: 64px;
  }
}
.sec-g__more {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 5%;
  right: 20px;
  font-size: 2rem;
  text-indent: -9999px;
  overflow: hidden;
}
@media (min-width: 600px) {
  .sec-g__more {
    right: 40px;
  }
}
.sec-g__more::after {
  content: "\f061";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background: url(../../../resources/images/pattern/common/more.svg) center/cover;
  border-radius: 50%;
}
@media (min-width: 600px) {
  .sec-g__more::after {
    width: 24px;
    height: 24px;
  }
}

#header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}
#header.active::before {
  height: 218px;
}
#header.active .gnb__depth2 {
  height: 218px;
  padding: 30px 0;
}
#header::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  height: 0;
  background: #f8f8f8;
  transition: all 0.3s;
}
#header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: none;
  height: 60px;
  padding: 0 20px;
}
@media (min-width: 1024px) {
  #header .inner {
    padding: 0 40px;
  }
}
#header #logo {
  transform: scale(0.8);
  transform-origin: 0 50%;
}
@media (min-width: 1024px) {
  #header #logo {
    transform: none;
  }
}
#header #logo a {
  display: block;
  width: 200px;
  height: 27px;
  background: url("../../../resources/images/pattern/common/logo.png") no-repeat 0 0/contain;
}
#header #logo span {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

#gnb {
  display: none;
  position: relative;
}
@media (min-width: 1024px) {
  #gnb {
    display: block;
  }
}
#gnb .gnb__depth1 {
  display: flex;
}
#gnb .gnb__depth1 > li {
  position: relative;
}
#gnb .gnb__depth1 > li:hover > a > span {
  color: #ed1b2c;
}
#gnb .gnb__depth1 > li:hover > a > span::after {
  width: 100%;
}
#gnb .gnb__depth1 > li:first-child .gnb__depth2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: #e4e4e4;
}
#gnb .gnb__depth1 > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding: 0 50px;
  font-size: 1.8rem;
}
#gnb .gnb__depth1 > li > a:hover {
  text-decoration: none;
}
#gnb .gnb__depth1 > li > a span {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}
#gnb .gnb__depth1 > li > a span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background: #ed1b2c;
  transition: all 0.3s;
}
#gnb .gnb__depth2 {
  overflow: hidden;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  height: 0;
  padding: 0;
  background: #f8f8f8;
  transition: all 0.3s;
}
#gnb .gnb__depth2::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background: #e4e4e4;
}
#gnb .gnb__depth2 a {
  display: block;
  padding: 7px 0;
  text-align: center;
  color: #555555;
}
#gnb .gnb__depth2 a:hover {
  font-weight: 700;
  color: #1d1d1d;
}

.util {
  display: flex;
  gap: 15px;
}
.util .lang {
  display: none;
  position: relative;
}
@media (min-width: 1024px) {
  .util .lang {
    display: block;
  }
}
.util .lang.active .lang__btn::after {
  content: "\f106";
  font-family: "Line Awesome Free";
  font-weight: 900;
}
.util .lang.active .lang__lst {
  display: block;
}
.util .lang__btn {
  height: 57px;
  margin-right: 10px;
  text-transform: uppercase;
}
.util .lang__btn::after {
  content: "\f107";
  font-family: "Line Awesome Free";
  font-weight: 900;
  margin-left: 5px;
  color: #8e8e8e;
}
.util .lang__lst {
  display: none;
  position: absolute;
  top: 52px;
  left: 0;
  width: 90%;
  border: 1px solid #c6c6c6;
  background: #fff;
  text-align: center;
}
.util .lang__lst li {
  padding: 5px 0;
  text-transform: uppercase;
}
.util .lang__lst li:first-child {
  border-bottom: 1px solid #c6c6c6;
}
.util .search {
  transform: scaleX(-1);
}
.util .search::before {
  content: "\f002";
  font-family: "Line Awesome Free";
  font-weight: 900;
  font-size: 3rem;
}
.util .all-menu::before {
  content: "\f0c9";
  font-family: "Line Awesome Free";
  font-weight: 900;
  font-size: 3rem;
}

#nav-all {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transition: all 0.3s;
}
#nav-all.active {
  display: block;
  left: 0;
}

#container {
  margin-top: 60px;
}

#footer {
  height: 55px;
  padding: 20px;
}
#footer button {
  display: flex;
  align-items: center;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 13px;
  text-align: left;
  line-height: 1;
}
#footer button span {
  font-weight: 800;
}

:root {
  --swiper-theme-color: #ed1b2c;
}

.slide {
  position: relative;
  top: 60px;
  height: 784px;
}
@media (min-width: 600px) {
  .slide {
    height: 564px;
  }
}
.slide .swiper-button-play-pause {
  position: absolute;
  bottom: 4.4%;
  left: 55%;
}
.slide .swiper-button-play-pause.default::before {
  display: block;
  content: "\f04c";
  width: 20px;
  height: 20px;
  font-family: "Line Awesome Free";
  font-weight: 900;
  color: #fff;
}
.slide .swiper-button-play-pause.clicked::before {
  content: "\f04b";
  display: block;
  width: 20px;
  height: 20px;
  font-family: "Line Awesome Free";
  font-weight: 900;
  color: #fff;
}
.slide .swiper-button-play-pause span {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.slide .slide-intro .swiper-slide {
  position: relative;
}
.slide .slide-intro .swiper-slide.swiper-slide-active .text-area {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.slide .slide-intro .swiper-slide picture {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  height: 616px;
}
@media (min-width: 600px) and (max-width: 1023px) {
  .slide .slide-intro .swiper-slide picture {
    height: 400px;
  }
}
@media (min-width: 600px) and (max-width: 1023px) {
  .slide .slide-intro .swiper-slide picture img {
    -o-object-position: right center;
       object-position: right center;
  }
}
.slide .slide-intro .swiper-slide .text-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
}
.slide .slide-intro .swiper-slide .text-area .inner {
  padding: 0 20px;
}
@media (min-width: 600px) and (max-width: 1023px) {
  .slide .slide-intro .swiper-slide .text-area .inner {
    padding: 0 40px;
  }
}
.slide .slide-intro .swiper-slide .text-area__tit {
  position: absolute;
  top: 15.7%;
  left: 20px;
  display: block;
  font-size: 34px;
  color: #222222;
  font-weight: 700;
  text-align: left;
  line-height: 1.2;
  letter-spacing: -0.08em;
}
.slide .slide-intro .swiper-slide .text-area__bottom {
  position: absolute;
  bottom: 11%;
  left: 20px;
  text-align: left;
}
.slide .slide-intro .swiper-slide .text-area__bottom__cont {
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.025em;
}
.slide .slide-intro .swiper-slide .text-area__bottom__goto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 105px;
  height: 32px;
  border-radius: 30px;
  border-width: 1px;
  border-style: solid;
  font-size: 14px;
  letter-spacing: -0.05em;
  margin-top: 14px;
}
.slide .slide-intro .swiper-slide .text-area__bottom__goto::after {
  display: block;
  content: "";
  width: 8px;
  height: 8px;
  margin-left: 10px;
  background: url(../../../resources/images/pattern/common/r-arrow.svg) no-repeat center/contain;
}
.slide .slide-intro .intro1 .text-area,
.slide .slide-intro .intro3 .text-area,
.slide .slide-intro .intro5 .text-area,
.slide .slide-intro .intro6 .text-area,
.slide .slide-intro .intro7 .text-area {
  color: #fff;
}
.slide .slide-intro .intro1 .text-area__bottom__goto,
.slide .slide-intro .intro3 .text-area__bottom__goto,
.slide .slide-intro .intro5 .text-area__bottom__goto,
.slide .slide-intro .intro6 .text-area__bottom__goto,
.slide .slide-intro .intro7 .text-area__bottom__goto {
  border-color: #fff;
}
.slide .slide-intro .intro2 picture {
  background-color: #ffedd6;
}
.slide .slide-intro .swiper-pagination {
  display: flex;
  width: 50%;
  bottom: 5.5%;
  left: 27px;
}
.slide .slide-intro .swiper-pagination .swiper-pagination-bullet {
  background-color: #fff;
  margin: 0 20px 0 0;
  width: 5px;
  height: 5px;
}
.sec-best {
  display: flex;
  flex-direction: column;
}
.sec-best .sec-g__cont {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}
.sec-best .sec-g__cont .swiper-button-play-pause {
  position: absolute;
  bottom: 2.5%;
  left: 67%;
}
.sec-best .sec-g__cont .swiper-button-play-pause.default::before {
  display: block;
  content: "\f04c";
  width: 20px;
  height: 20px;
  font-family: "Line Awesome Free";
  font-weight: 900;
  color: #000;
}
.sec-best .sec-g__cont .swiper-button-play-pause.clicked::before {
  content: "\f04b";
  display: block;
  width: 20px;
  height: 20px;
  font-family: "Line Awesome Free";
  font-weight: 900;
  color: #000;
}
.sec-best .sec-g__cont .swiper-button-play-pause span {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.sec-best .sec-g__cont .swiper {
  height: 422px;
}
@media (min-width: 600px) {
  .sec-best .sec-g__cont .swiper {
    height: 576px;
  }
}
@media (min-width: 1440px) {
  .sec-best .sec-g__cont .swiper {
    height: 864px;
  }
}
.sec-best .slide-best-img {
  position: relative;
}
.sec-best .slide-best-img .swiper-slide {
  opacity: 0;
}
.sec-best .slide-best-img .swiper-slide.swiper-slide-active {
  opacity: 1;
}
.sec-best .slide-best-img .swiper-slide a::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}
.sec-best .slide-best-img .swiper-slide .best-img-txt-box {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
  text-align: left;
}
@media (min-width: 600px) {
  .sec-best .slide-best-img .swiper-slide .best-img-txt-box {
    bottom: 60px;
    left: 40px;
    width: calc(100% - 40px);
  }
}
@media (min-width: 1440px) {
  .sec-best .slide-best-img .swiper-slide .best-img-txt-box {
    bottom: 120px;
    left: 160px;
    width: calc(100% - 160px);
  }
}
.sec-best .slide-best-img .swiper-slide .best-img-txt-box .best-num {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 4px;
}
@media (min-width: 1440px) {
  .sec-best .slide-best-img .swiper-slide .best-img-txt-box .best-num {
    font-size: 22px;
    margin-bottom: 10px;
  }
}
.sec-best .slide-best-img .swiper-slide .best-img-txt-box .best-name {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.09;
  letter-spacing: -1.5px;
  padding-right: 20px;
}
@media (min-width: 600px) {
  .sec-best .slide-best-img .swiper-slide .best-img-txt-box .best-name {
    font-size: 48px;
    padding-right: 40px;
  }
}
@media (min-width: 1440px) {
  .sec-best .slide-best-img .swiper-slide .best-img-txt-box .best-name {
    font-size: 80px;
    padding-right: 80px;
  }
}
.sec-best .slide-best-img .swiper-slide .best-img-txt-box::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #fff;
  margin-top: 16px;
}
@media (min-width: 1440px) {
  .sec-best .slide-best-img .swiper-slide .best-img-txt-box::after {
    margin-top: 48px;
  }
}
.sec-best .slide-best-info .swiper-wrapper .swiper-slide {
  background-color: #f2e9dd;
}
.sec-best .slide-best-info .swiper-wrapper .best-info-txt-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 30px 0;
}
@media (min-width: 600px) {
  .sec-best .slide-best-info .swiper-wrapper .best-info-txt-box {
    padding: 60px 0;
  }
}
@media (min-width: 1440px) {
  .sec-best .slide-best-info .swiper-wrapper .best-info-txt-box {
    padding: 120px 0;
  }
}
.sec-best .slide-best-info .swiper-wrapper .best-info-txt-box .best-info-tit {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.27;
}
@media (min-width: 600px) {
  .sec-best .slide-best-info .swiper-wrapper .best-info-txt-box .best-info-tit {
    font-size: 26px;
  }
}
@media (min-width: 1440px) {
  .sec-best .slide-best-info .swiper-wrapper .best-info-txt-box .best-info-tit {
    font-size: 44px;
  }
}
.sec-best .slide-best-info .swiper-wrapper .best-info-txt-box .best-info-price {
  font-size: 12px;
  padding: 8px 0;
}
@media (min-width: 600px) {
  .sec-best .slide-best-info .swiper-wrapper .best-info-txt-box .best-info-price {
    font-size: 14px;
    padding: 18px 0;
  }
}
@media (min-width: 1440px) {
  .sec-best .slide-best-info .swiper-wrapper .best-info-txt-box .best-info-price {
    font-size: 22px;
    padding: 18px 0;
  }
}
.sec-best .slide-best-info .swiper-wrapper .best-info-txt-box .best-info-price-origin {
  color: #ed1b2c;
  text-decoration: line-through;
}
.sec-best .slide-best-info .swiper-wrapper .best-info-txt-box .best-info-more {
  display: none;
}
@media (min-width: 600px) {
  .sec-best .slide-best-info .swiper-wrapper .best-info-txt-box .best-info-more {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sec-best .slide-best-info .swiper-wrapper .best-info-txt-box .best-info-more button {
    position: static;
  }
}
@media (min-width: 1440px) {
  .sec-best .slide-best-info .swiper-wrapper .best-info-txt-box .best-info-more {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
  }
  .sec-best .slide-best-info .swiper-wrapper .best-info-txt-box .best-info-more button {
    width: 217px;
    height: 59px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 32px;
    z-index: 9999;
  }
}
.sec-best .slide-best-info .swiper-wrapper img {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 196px;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 1440px) {
  .sec-best .slide-best-info .swiper-wrapper img {
    top: 59%;
    width: 320px;
    height: 280px;
  }
}
.sec-best .slide-best-info .swiper-pagination {
  display: flex;
  bottom: 30px;
  left: 50%;
  width: -moz-fit-content;
  width: fit-content;
  transform: translateX(-50%);
}
@media (min-width: 600px) {
  .sec-best .slide-best-info .swiper-pagination {
    bottom: 60px;
  }
}
@media (min-width: 1440px) {
  .sec-best .slide-best-info .swiper-pagination {
    bottom: 120px;
  }
}
.sec-best .slide-best-info .swiper-pagination .swiper-pagination-bullet {
  background-color: rgb(68, 68, 68);
  margin: 0 20px 0 0;
  width: 5px;
  height: 5px;
}
.sec-best .slide-best-info .swiper-pagination .swiper-pagination-bullet .progress-ring {
  transform: rotate(-90deg);
}
@media (min-width: 600px) {
  .sec-best .sec-g__cont {
    display: flex;
  }
  .sec-best .sec-g__cont .swiper {
    margin: 0;
    flex-grow: 1;
    border: none;
  }
}
@media (min-width: 1440px) {
  .sec-best .swiper {
    height: 576px;
  }
}

.sec-new {
  width: 100%;
}
.sec-new .sec-g__cont {
  position: relative;
  padding-left: 20px;
}
@media (min-width: 600px) {
  .sec-new .sec-g__cont {
    padding-left: 40px;
  }
}
@media (min-width: 1440px) {
  .sec-new .sec-g__cont {
    padding-left: 160px;
  }
}
.sec-new .sec-g__cont .swiper-button-play-pause {
  position: absolute;
  bottom: -0.8%;
  left: 44%;
}
.sec-new .sec-g__cont .swiper-button-play-pause.default::before {
  display: block;
  content: "\f04c";
  width: 20px;
  height: 20px;
  font-family: "Line Awesome Free";
  font-weight: 900;
  color: #000;
}
.sec-new .sec-g__cont .swiper-button-play-pause.clicked::before {
  content: "\f04b";
  display: block;
  width: 20px;
  height: 20px;
  font-family: "Line Awesome Free";
  font-weight: 900;
  color: #000;
}
.sec-new .sec-g__cont .swiper-button-play-pause span {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.sec-new .sec-g__cont .new-overlay .swiper-wrapper {
  gap: 14px;
}
@media (min-width: 600px) {
  .sec-new .sec-g__cont .new-overlay .swiper-wrapper {
    gap: 30px;
  }
}
@media (min-width: 1440px) {
  .sec-new .sec-g__cont .new-overlay .swiper-wrapper {
    gap: 60px;
  }
}
.sec-new .sec-g__cont .new-overlay .swiper-wrapper .swiper-slide {
  position: relative;
}
.sec-new .sec-g__cont .new-overlay .swiper-wrapper .swiper-slide::before {
  position: absolute;
  content: "";
  top: 1px;
  left: 0;
  right: 0;
  width: 240px;
  height: 310px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%, rgb(255, 255, 255));
}
@media (min-width: 600px) {
  .sec-new .sec-g__cont .new-overlay .swiper-wrapper .swiper-slide::before {
    width: 223px;
    height: 295px;
  }
}
@media (min-width: 1440px) {
  .sec-new .sec-g__cont .new-overlay .swiper-wrapper .swiper-slide::before {
    width: 420px;
    height: 594px;
  }
}
.sec-new .sec-g__cont .new-overlay .swiper-wrapper .swiper-slide .new-txt {
  position: relative;
  top: -8px;
  padding: 0 5px;
  width: 100%;
  line-height: 1.11;
}
@media (min-width: 1440px) {
  .sec-new .sec-g__cont .new-overlay .swiper-wrapper .swiper-slide .new-txt {
    padding: 0 10px;
  }
}
.sec-new .sec-g__cont .new-overlay .swiper-wrapper .swiper-slide .new-txt .item-tit {
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 6px;
}
@media (min-width: 600px) {
  .sec-new .sec-g__cont .new-overlay .swiper-wrapper .swiper-slide .new-txt .item-tit {
    font-size: 20px;
  }
}
@media (min-width: 1440px) {
  .sec-new .sec-g__cont .new-overlay .swiper-wrapper .swiper-slide .new-txt .item-tit {
    font-size: 32px;
    margin-bottom: 12px;
  }
}
.sec-new .sec-g__cont .new-overlay .swiper-wrapper .swiper-slide .new-txt .item-en-tit {
  text-align: left;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 13px;
  letter-spacing: -0.3px;
}
@media (min-width: 600px) {
  .sec-new .sec-g__cont .new-overlay .swiper-wrapper .swiper-slide .new-txt .item-en-tit {
    font-size: 12px;
  }
}
@media (min-width: 1440px) {
  .sec-new .sec-g__cont .new-overlay .swiper-wrapper .swiper-slide .new-txt .item-en-tit {
    font-size: 18px;
    margin-bottom: 27px;
  }
}
.sec-new .sec-g__cont .new-overlay .swiper-wrapper .swiper-slide .new-txt .item-tag {
  display: flex;
  font-size: 12px;
}
@media (min-width: 600px) {
  .sec-new .sec-g__cont .new-overlay .swiper-wrapper .swiper-slide .new-txt .item-tag {
    font-size: 11px;
  }
}
@media (min-width: 1440px) {
  .sec-new .sec-g__cont .new-overlay .swiper-wrapper .swiper-slide .new-txt .item-tag {
    font-size: 18px;
  }
}
.sec-new .sec-g__cont .new-overlay .swiper-wrapper .swiper-slide .new-txt .item-tag ul {
  display: flex;
  align-items: center;
}
.sec-new .sec-g__cont .new-overlay .swiper-wrapper .swiper-slide .new-txt .item-tag ul li {
  border-radius: 22px;
  padding: 4px 7px 6px 7px;
  margin-right: 5px;
  background-color: #fff2f2;
  color: #ed1b2c;
}
@media (min-width: 1440px) {
  .sec-new .sec-g__cont .new-overlay .swiper-wrapper .swiper-slide .new-txt .item-tag ul li {
    padding: 8px 10px;
  }
}
.sec-new .sec-g__cont .new-overlay .swiper-wrapper .slide-a-type {
  width: 240px;
}
.sec-new .sec-g__cont .new-overlay .swiper-wrapper .slide-a-type img {
  width: 100%;
  height: 310px;
}
@media (min-width: 600px) {
  .sec-new .sec-g__cont .new-overlay .swiper-wrapper .slide-a-type {
    width: 223px;
  }
  .sec-new .sec-g__cont .new-overlay .swiper-wrapper .slide-a-type img {
    height: 295px;
  }
}
@media (min-width: 1440px) {
  .sec-new .sec-g__cont .new-overlay .swiper-wrapper .slide-a-type {
    width: 420px;
  }
  .sec-new .sec-g__cont .new-overlay .swiper-wrapper .slide-a-type img {
    height: 594px;
  }
}
.sec-new .sec-g__cont .new-overlay .swiper-wrapper .slide-b-type {
  width: 300px;
}
.sec-new .sec-g__cont .new-overlay .swiper-wrapper .slide-b-type::before {
  width: 300px;
  height: 220px;
}
.sec-new .sec-g__cont .new-overlay .swiper-wrapper .slide-b-type img {
  width: 300px;
  height: 220px;
  -o-object-position: top;
     object-position: top;
}
@media (min-width: 600px) {
  .sec-new .sec-g__cont .new-overlay .swiper-wrapper .slide-b-type {
    width: 280px;
  }
  .sec-new .sec-g__cont .new-overlay .swiper-wrapper .slide-b-type::before {
    width: 280px;
    height: 184px;
  }
  .sec-new .sec-g__cont .new-overlay .swiper-wrapper .slide-b-type img {
    width: 100%;
    height: 184px;
    -o-object-position: top;
       object-position: top;
  }
}
@media (min-width: 1440px) {
  .sec-new .sec-g__cont .new-overlay .swiper-wrapper .slide-b-type {
    width: 598px;
  }
  .sec-new .sec-g__cont .new-overlay .swiper-wrapper .slide-b-type::before {
    width: 598px;
    height: 397px;
  }
  .sec-new .sec-g__cont .new-overlay .swiper-wrapper .slide-b-type img {
    width: 100%;
    height: 397px;
    -o-object-position: top;
       object-position: top;
  }
}
.sec-new .swiper-pagination {
  position: static;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 10px;
  padding-top: 60px;
}
@media (min-width: 1440px) {
  .sec-new .swiper-pagination {
    padding-top: 120px;
    padding-left: 15px;
  }
}
.sec-new .swiper-pagination .swiper-pagination-bullet {
  background-color: rgb(68, 68, 68);
  margin: 0 20px 0 0;
  width: 5px;
  height: 5px;
}
.sec-look .sec-g__desc {
  font-size: 20px;
  line-height: 1.5;
}
.sec-look .sec-g__cont {
  margin-top: 32px;
}
.sec-look .sec-g__cont ul {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
@media (min-width: 600px) {
  .sec-look .sec-g__cont ul {
    gap: 31px;
  }
}
.sec-look .sec-g__cont a {
  display: flex;
  width: 100%;
  height: 405px;
  border-radius: 34px;
  overflow: hidden;
}
@media (min-width: 600px) {
  .sec-look .sec-g__cont a {
    height: 630px;
  }
}
.sec-look .sec-g__cont a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 0;
     object-position: center 0;
}
.sec-look .sec-g__cont__img {
  height: 100%;
  flex-grow: 1;
  flex-basis: 0;
}
.sec-look .sec-g__cont__info-tablet {
  display: none;
  position: relative;
  height: 100%;
  background: #e1dfe7;
  flex-grow: 1;
  flex-basis: 0;
}
@media (min-width: 600px) {
  .sec-look .sec-g__cont__info-tablet {
    display: block;
  }
  .sec-look .sec-g__cont__info-tablet__txt-box {
    position: absolute;
    bottom: 12%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0 30px;
  }
  .sec-look .sec-g__cont__info-tablet__txt-box .info-name {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
  }
  .sec-look .sec-g__cont__info-tablet__txt-box .info-price {
    font-size: 20px;
  }
}
.sec-look .sec-g__cont__info-tablet__img {
  width: 344px;
  height: 481.58px;
  margin: auto;
}

.sec-branding .sec-g__tit {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.sec-branding .sec-g__cont {
  width: calc(100% + 40px);
  transform: translateX(-20px);
}
@media (min-width: 600px) {
  .sec-branding .sec-g__cont {
    width: calc(100% + 80px);
    transform: translateX(-40px);
  }
}
@media (min-width: 1440px) {
  .sec-branding .sec-g__cont {
    width: calc(100% + 200px);
    transform: translateX(-160px);
  }
}
.sec-branding .sec-g__cont .swiper-button-play-pause {
  position: absolute;
  bottom: 45px;
  left: 88%;
}
.sec-branding .sec-g__cont .swiper-button-play-pause.default::before {
  display: block;
  content: "\f04c";
  width: 20px;
  height: 20px;
  font-family: "Line Awesome Free";
  font-weight: 900;
  color: #fff;
}
.sec-branding .sec-g__cont .swiper-button-play-pause.clicked::before {
  content: "\f04b";
  display: block;
  width: 20px;
  height: 20px;
  font-family: "Line Awesome Free";
  font-weight: 900;
  color: #fff;
}
.sec-branding .sec-g__cont .swiper-button-play-pause span {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.sec-branding .overlay {
  width: 100%;
  height: auto;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7));
}
@media (min-width: 1440px) {
  .sec-branding .overlay {
    height: 793px;
  }
}
.sec-branding .branding-txt {
  position: absolute;
  bottom: 17%;
  left: 0;
  right: 0;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
}
.sec-branding .branding-txt__title {
  letter-spacing: -1px;
}
.sec-branding .branding-txt__desc, .sec-branding .branding-txt__more {
  display: none;
}
@media (min-width: 600px) {
  .sec-branding .branding-txt {
    font-size: 26px;
    bottom: 22%;
  }
  .sec-branding .branding-txt__desc, .sec-branding .branding-txt__more {
    display: block;
  }
  .sec-branding .branding-txt__desc {
    font-size: 14px;
    font-weight: normal;
    margin-top: 10px;
    line-height: 1.43;
    letter-spacing: -0.5px;
  }
  .sec-branding .branding-txt .info-more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .sec-branding .branding-txt .info-more button {
    position: static;
    border-color: #fff;
    color: #fff;
    letter-spacing: -1.5px;
    gap: 10px;
  }
  .sec-branding .branding-txt .info-more button::after {
    background: url(../../../resources/images/pattern/common/arrow-right.svg) no-repeat 0 0;
  }
}
@media (min-width: 1440px) {
  .sec-branding .branding-txt {
    font-size: 44px;
  }
  .sec-branding .branding-txt__desc, .sec-branding .branding-txt__more {
    display: block;
  }
  .sec-branding .branding-txt__desc {
    font-size: 22px;
    font-weight: normal;
    margin-top: 18px;
    line-height: 1.3;
    letter-spacing: -1.2px;
  }
  .sec-branding .branding-txt .info-more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
  .sec-branding .branding-txt .info-more button {
    position: static;
    border-radius: 23px;
    font-size: 18px;
    padding: 10px 11px 10px 19px;
  }
  .sec-branding .branding-txt .info-more button::after {
    width: 13px;
    height: 13px;
  }
}
.sec-branding .swiper-pagination {
  position: absolute;
  display: flex;
  gap: 4%;
  bottom: 55px;
  left: 20px;
  width: 79%;
}
@media (min-width: 600px) {
  .sec-branding .swiper-pagination {
    left: 40px;
    gap: 2%;
    width: 83%;
  }
}
@media (min-width: 1024px) {
  .sec-branding .swiper-pagination {
    gap: 2%;
    width: 85%;
  }
}
@media (min-width: 1440px) {
  .sec-branding .swiper-pagination {
    left: 65px;
    bottom: 100px;
  }
}
.sec-branding .swiper-pagination .swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.5);
  width: 17px;
  height: 3px;
  border-radius: 0;
  font-size: 13px;
  font-weight: 300;
  text-align: left;
}
@media (min-width: 600px) {
  .sec-branding .swiper-pagination .swiper-pagination-bullet {
    width: 100%;
  }
}
.sec-branding .swiper-pagination .swiper-pagination-bullet::before {
  display: block;
  content: "";
  width: 0;
  height: 100%;
  background-color: white;
  transition: all 3s linear;
  transform-origin: left;
}
.sec-branding .swiper-pagination .swiper-pagination-bullet::after {
  padding-top: 5px;
  display: block;
  content: "";
  color: #fff;
}
@media (min-width: 1440px) {
  .sec-branding .swiper-pagination .swiper-pagination-bullet::after {
    font-size: 22px;
  }
}
.sec-branding .swiper-pagination .swiper-pagination-bullet:first-child::after {
  content: "01 BRAND";
}
.sec-branding .swiper-pagination .swiper-pagination-bullet:nth-child(2)::after {
  content: "02 CAMPAIGN";
}
.sec-branding .swiper-pagination .swiper-pagination-bullet:nth-child(3)::after {
  content: "03 REVIEW";
}
.sec-branding .swiper-pagination .swiper-pagination-bullet:nth-child(4)::after {
  content: "04 COLLECTIONS";
}
.sec-branding .swiper-pagination .swiper-pagination-bullet-active {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}
.sec-branding .swiper-pagination .swiper-pagination-bullet-active::before {
  width: 100%;
}
@media (min-width: 1440px) {
  .sec-branding .swiper-pagination .swiper-pagination-bullet-active {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .sec-branding .swiper-pagination .swiper-pagination-bullet-active::before {
    width: 100%;
  }
}/*# sourceMappingURL=styles.css.map */