// 사이트 컨텐츠 내용
:root {
  --swiper-theme-color: #ed1b2c;
}

.slide {
  position: relative;
  top: 60px;
  height: 784px;
  .swiper-button-play-pause {
    position: absolute;
    bottom: 4.4%;
    left: 55%;
    &.default::before {
      display: block;
      content: "\f04c";
      width: 20px;
      height: 20px;
      font-family: "Line Awesome Free";
      font-weight: 900;
      color: $white;
    }
    &.clicked::before {
      content: "\f04b";
      display: block;
      width: 20px;
      height: 20px;
      font-family: "Line Awesome Free";
      font-weight: 900;
      color: $white;
    }
    span {
      @include sr-only;
    }
  }
  .slide-intro {
    .swiper-slide {
      position: relative;
      &.swiper-slide-active {
        .text-area {
          opacity: 1;
          transform: translate(-50%, -50%);
        }
      }
      picture {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        height: 616px;
      }
      .text-area {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0);
        width: 100%;
        max-width: 400px;
        height: 100%;
        opacity: 0;
        transition: all 0.5s;
        &__tit {
          position: absolute;
          top: 15.7%;
          left: $p-mobile;
          display: block;
          font-size: 34px;
          color: $gray-80;
          font-weight: 700;
          text-align: left;
          line-height: 1.2;
          letter-spacing: -0.08em;
        }
        &__bottom {
          position: absolute;
          bottom: 11%;
          left: 20px;
          text-align: left;
          &__cont {
            font-size: 20px;
            line-height: 1.4;
            letter-spacing: -0.025em;
          }
          &__goto {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 105px;
            height: 32px;
            border-radius: 30px;
            border-width: 1px;
            border-style: solid;
            font-size: 14px;
            letter-spacing: -0.05em;
            margin-top: 14px;
            &::after {
              display: block;
              content: "";
              width: 8px;
              height: 8px;
              margin-left: 10px;
              background: url(../../../resources/images/pattern/common/r-arrow.svg) no-repeat center/contain;
            }
          }
        }
      }
    }
    .intro1,
    .intro3,
    .intro5,
    .intro6,
    .intro7 {
      .text-area {
        color: $white;
        &__bottom__goto {
          border-color: $white;
        }
      }
    }
    .intro2 {
      picture {
        background-color: #ffedd6;
      }
    }
    .swiper-pagination {
      display: flex;
      width: 50%;
      bottom: 5.5%;
      left: 27px;
      .swiper-pagination-bullet {
        background-color: $white;
        margin: 0 20px 0 0;
        width: 5px;
        height: 5px;
        &-active {
          // bullet이 활성화된 경우
        }
      }
    }
  }
}

// tablet
// @media screen and (min-width: 600px) {
//   .slide-intro .swiper-slide img {
//     height: 70vh;
//   }
// }

// desktop
// @media screen and (min-width: 1024px) {
//   .slide-intro {
//     .swiper-slide {
//       img {
//         height: 70vh;
//       }
//       .text-area {
//         width: 100%;
//         max-width: none;
//         text-align: left;
//       }
//       .text-area__tit {
//         font-size: 6rem;
//       }
//       .text-area__cont {
//         font-size: 2rem;
//       }
//       .text-area__goto {
//         margin-top: 30px;
//       }
//     }
//     .swiper-pagination {
//       display: block;
//     }
//     .swiper-button-next,
//     .swiper-button-prev {
//       display: none;
//     }
//   }
// }

// .slide-studio {
//   overflow: visible;
//   width: 80%;
//   margin-left: 0;
//   @include mobileMore {
//     width: 90%;
//   }
//   @include tabletMore {
//     width: 100%;
//     margin-left: auto;
//   }
//   .swiper-pagination {
//     bottom: -50px;
//   }
// }

.sec-best {
  position: relative;
  height: 1014px;
  .sec-g__cont {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    .swiper-button-play-pause {
      position: absolute;
      bottom: 2.6%;
      left: 55%;
      &.default::before {
        display: block;
        content: "\f04c";
        width: 20px;
        height: 20px;
        font-family: "Line Awesome Free";
        font-weight: 900;
        color: $black;
      }
      &.clicked::before {
        content: "\f04b";
        display: block;
        width: 20px;
        height: 20px;
        font-family: "Line Awesome Free";
        font-weight: 900;
        color: $black;
      }
      span {
        @include sr-only;
      }
    }
  }
  .slide-best-img,
  .slide-best-info {
    width: 390px;
    height: 422px;
  }
  .slide-best-img {
    .swiper-slide {
      position: relative;
      a::before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        right: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
      }
    }
  }
  // .overlay {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   width: 100%;
  //   height: 100%;
  //   background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  // }
  .best-img-txt-box {
    position: absolute;
    bottom: 20px;
    left: $p-mobile;
    width: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: $white;
    text-align: left;
    .best-num {
      font-size: 14px;
      font-weight: $font-bold;
      margin-bottom: 4px;
    }
    .best-name {
      font-size: 32px;
      font-weight: $font-bold;
      text-transform: uppercase;
      line-height: 1.09;
    }
    &::after {
      display: block;
      content: "";
      width: 100%;
      height: 1px;
      background-color: $white;
      margin-top: 14px;
    }
  }
  .slide-best-info {
    .swiper-slide:first-child {
      background-color: #f2e9dd;
    }
    .best-info-txt-box {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      padding: 30px 0;
      .best-info-tit {
        font-size: 22px;
        font-weight: $font-bold;
        line-height: 1.27;
      }
      .best-info-price {
        font-size: 12px;
        padding: 8px 0;
      }
      .best-info-price-origin {
        color: $primary;
        text-decoration: line-through;
      }
    }
    img {
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 196px;
      height: 235px;
    }
    .swiper-pagination {
      display: flex;
      bottom: 30px;
      left: 50%;
      width: fit-content;
      transform: translateX(-50%);
      .swiper-pagination-bullet {
        background-color: rgb(68, 68, 68);
        margin: 0 20px 0 0;
        width: 5px;
        height: 5px;
        &-active {
          // bullet이 활성화된 경우
        }
      }
    }
  }
}

.sec-new {
  width: 100%;
  height: 664px;
  .sec-g__cont {
    position: relative;
    width: 390px;
    height: 494px;
    .swiper-button-play-pause {
      position: absolute;
      bottom: -6px;
      left: 50%;
      &.default::before {
        display: block;
        content: "\f04c";
        width: 20px;
        height: 20px;
        font-family: "Line Awesome Free";
        font-weight: 900;
        color: $black;
      }
      &.clicked::before {
        content: "\f04b";
        display: block;
        width: 20px;
        height: 20px;
        font-family: "Line Awesome Free";
        font-weight: 900;
        color: $black;
      }
      span {
        @include sr-only;
      }
    }
    .new-overlay {
      .swiper-slide {
        position: relative;
        a::before {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          right: 0;
          width: 240px;
          height: 310px;
          background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 1));
        }
        img {
          width: 240px;
          height: 310px;
        }
        .new-txt {
          padding: 0 5px;
          width: 240px;
          line-height: 1.11;
          .item-tit {
            text-align: left;
            font-size: 18px;
            font-weight: $font-bold;
            margin-bottom: 6px;
          }
          .item-en-tit {
            text-align: left;
            font-size: 14px;
            font-weight: $font-light;
            margin-bottom: 13px;
          }
          .item-tag {
            display: flex;
            font-size: 12px;
            ul {
              display: flex;
              align-items: center;
              li {
                height: 24px;
                border-radius: 12px;
                padding: 4px 6px;
                margin-right: 5px;
                background-color: #fceaea;
                color: $primary;
              }
            }
          }
        }
      }
      .swiper-slide:nth-child(2n) {
        a::before {
          width: 300px;
          height: 220px;
        }
        img {
          width: 300px;
          height: 220px;
        }
        .new-txt {
          width: 300px;
        }
      }
    }
  }
  .swiper-pagination {
    display: flex;
    bottom: 0;
    left: 30px;
    width: fit-content;
    transform: translateX(-50%);
    .swiper-pagination-bullet {
      background-color: rgb(68, 68, 68);
      margin: 0 20px 0 0;
      width: 5px;
      height: 5px;
      &-active {
        // bullet이 활성화된 경우
      }
    }
  }
}

.sec-look {
  .sec-g__desc {
    font-size: 20px;
    line-height: 1.5;
  }
  .sec-g__cont {
    margin-top: 32px;
    ul {
      display: flex;
      flex-direction: column;
      gap: 18px;
    }
    a {
      display: block;
      width: 350px;
      height: 405px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 34px;
        object-fit: cover;
        object-position: center 0;
      }
    }
  }
}

.sec-branding {
  .sec-g__cont {
    width: 390px;
    height: 760px;
    margin-left: -$p-mobile;
    .swiper-button-play-pause {
      position: absolute;
      bottom: 45px;
      left: 88%;
      &.default::before {
        display: block;
        content: "\f04c";
        width: 20px;
        height: 20px;
        font-family: "Line Awesome Free";
        font-weight: 900;
        color: $white;
      }
      &.clicked::before {
        content: "\f04b";
        display: block;
        width: 20px;
        height: 20px;
        font-family: "Line Awesome Free";
        font-weight: 900;
        color: $white;
      }
      span {
        @include sr-only;
      }
    }
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7));
  }
  .branding-txt {
    position: absolute;
    bottom: 104px;
    left: 0;
    right: 0;
    color: $white;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.15;
  }
  .swiper-pagination {
    position: absolute;
    display: flex;
    bottom: 55px;
    left: 20px;
    width: fit-content;
    .swiper-pagination-bullet {
      background-color: $white;
      margin: 0 20px 0 0;
      width: 17px;
      height: 3px;
      border-radius: 0;
      font-size: 13px;
      font-weight: $font-light;
      text-align: left;
      &::after {
        padding-top: 5px;
        display: block;
        content: "";
        color: $white;
      }
      &:first-child::after {
        content: "01 BRAND";
      }
      &:nth-child(2)::after {
        content: "02";
      }
      &:nth-child(3)::after {
        content: "03";
      }
      &:nth-child(4)::after {
        content: "04";
      }

      &-active {
        // bullet이 활성화된 경우
        width: 191px;
      }
    }
  }
}
