// 사이트 공통 스타일
:root {
  --swiper-theme-color: red;
}

// 전역 스타일
.swiper-button-play-pause {
  z-index: 100;
  &.default::before {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    background: url(../../../resources/images/pattern/common/pause.svg) no-repeat center center;
    background-size: contain;
  }
  &.clicked::before {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    background: url(../../../resources/images/pattern/common/play_arrow.svg) no-repeat center center;
    background-size: contain;
  }
}

.swiper {
  width: 100%;
  height: 100%;
  &.overlay {
    .swiper-slide {
      position: relative;
      a::before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        right: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7));
      }
    }
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .swiper-pagination {
    display: flex;
    gap: 20px;
    .swiper-pagination-bullet {
      background-color: rgb(68, 68, 68);
      width: 5px;
      height: 5px;
      .progress-ring {
        position: relative;
        // top, left circle 반지름만큼 이동
        top: -10px;
        left: -10px;
        transform: rotate(-90deg);
      }
    }
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }
  .swiper-button-next::before,
  .swiper-button-prev::before {
    @include lineAwesome;
    font-size: 3rem;
    color: $black;
    opacity: 0.5;
  }
  .swiper-button-next::before {
    content: "\f138";
  }
  .swiper-button-prev::before {
    content: "\f137";
  }
}

// 자세히 보기 버튼
.info-more {
  position: relative;
  button {
    position: absolute;
    top: -15px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8em;
    font-size: 14px;
    padding: 1.1em 1.2em 1.1em calc(1.2em + 3px);
    border: 1px solid $black;
    border-radius: 2em;
    &::after {
      display: block;
      content: "";
      width: 0.8em;
      height: 0.8em;
      background: url(../../../resources/images/pattern/common/arrow-right-black.svg) no-repeat bottom center;
    }
  }
}
