// 메인페이지 스타일

:root {
  --swiper-theme-color: #ed1b2c;
}

.slide {
  position: relative;
  top: $hdH;
  height: 784px;
  @include mobileMore {
    height: 564px;
  }
  .swiper-button-play-pause {
    position: absolute;
    bottom: 4.4%;
    left: 55%;
    &.default::before {
      display: block;
      content: "\f04c";
      width: 20px;
      height: 20px;
      font-family: "Line Awesome Free";
      font-weight: 900;
      color: $white;
    }
    &.clicked::before {
      content: "\f04b";
      display: block;
      width: 20px;
      height: 20px;
      font-family: "Line Awesome Free";
      font-weight: 900;
      color: $white;
    }
    span {
      @include sr-only;
    }
  }
  .slide-intro {
    .swiper-slide {
      position: relative;
      &.swiper-slide-active {
        .text-area {
          opacity: 1;
          transform: translate(-50%, -50%);
        }
      }
      picture {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        height: 616px;
        @include tablet {
          height: 400px;
        }
        img {
          @include tablet {
            object-position: right center;
          }
        }
      }
      .text-area {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0);
        width: 100%;
        // max-width: 400px;
        height: 100%;
        opacity: 0;
        transition: all 0.5s;
        .inner {
          padding: 0 $p-mobile;
          @include tablet {
            padding: 0 $p-tablet;
          }
        }
        &__tit {
          position: absolute;
          top: 15.7%;
          left: $p-mobile;
          display: block;
          font-size: 34px;
          color: $gray-80;
          font-weight: 700;
          text-align: left;
          line-height: 1.2;
          letter-spacing: -0.08em;
        }
        &__bottom {
          position: absolute;
          bottom: 11%;
          left: 20px;
          text-align: left;
          &__cont {
            font-size: 20px;
            line-height: 1.4;
            letter-spacing: -0.025em;
          }
          &__goto {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 105px;
            height: 32px;
            border-radius: 30px;
            border-width: 1px;
            border-style: solid;
            font-size: 14px;
            letter-spacing: -0.05em;
            margin-top: 14px;
            &::after {
              display: block;
              content: "";
              width: 8px;
              height: 8px;
              margin-left: 10px;
              background: url(../../../resources/images/pattern/common/r-arrow.svg) no-repeat center/contain;
            }
          }
        }
      }
    }
    .intro1,
    .intro3,
    .intro5,
    .intro6,
    .intro7 {
      .text-area {
        color: $white;
        &__bottom__goto {
          border-color: $white;
        }
      }
    }
    .intro2 {
      picture {
        background-color: #ffedd6;
      }
    }
    .swiper-pagination {
      display: flex;
      width: 50%;
      bottom: 5.5%;
      left: 27px;
      // .swiper-pagination-bullet {
      //   background-color: $white;
      //   margin: 0 20px 0 0;
      //   width: 5px;
      //   height: 5px;
      // }
    }
  }
}

.sec-best {
  display: flex;
  flex-direction: column;
  .sec-g__cont {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    .swiper-button-play-pause {
      position: absolute;
      bottom: 2.5%;
      left: 67%;
      &.default::before {
        display: block;
        content: "\f04c";
        width: 20px;
        height: 20px;
        font-family: "Line Awesome Free";
        font-weight: 900;
        color: $black;
      }
      &.clicked::before {
        content: "\f04b";
        display: block;
        width: 20px;
        height: 20px;
        font-family: "Line Awesome Free";
        font-weight: 900;
        color: $black;
      }
      span {
        @include sr-only;
      }
    }
    .swiper {
      height: 422px;
      @include mobileMore {
        height: 576px;
      }
      @include desktop {
        height: 864px;
      }
    }
  }

  .slide-best-img {
    position: relative;
    .swiper-slide {
      opacity: 0;
      &.swiper-slide-active {
        opacity: 1;
      }
      a::before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        right: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
      }
      .best-img-txt-box {
        position: absolute;
        bottom: 20px;
        left: $p-mobile;
        width: calc(100% - 20px);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: $white;
        text-align: left;
        @include mobileMore {
          bottom: 60px;
          left: $p-tablet;
          width: calc(100% - $p-tablet);
        }
        @include desktop {
          bottom: 120px;
          left: 160px;
          width: calc(100% - 160px);
        }
        .best-num {
          font-size: 14px;
          font-weight: $font-bold;
          margin-bottom: 4px;
          @include desktop {
            font-size: 22px;
            margin-bottom: 10px;
          }
        }
        .best-name {
          font-size: 32px;
          font-weight: $font-bold;
          text-transform: uppercase;
          line-height: 1.09;
          letter-spacing: -1.5px;
          padding-right: 20px;
          @include mobileMore {
            font-size: 48px;
            padding-right: $p-tablet;
          }
          @include desktop {
            font-size: 80px;
            padding-right: 80px;
          }
        }
        &::after {
          display: block;
          content: "";
          width: 100%;
          height: 1px;
          background-color: $white;
          margin-top: 16px;
          @include desktop {
            margin-top: 48px;
          }
        }
      }
    }
  }

  .slide-best-info {
    .swiper-wrapper {
      .swiper-slide {
        background-color: #f2e9dd;
      }
      .best-info-txt-box {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        padding: 30px 0;
        @include mobileMore {
          padding: 60px 0;
        }
        @include desktop {
          padding: 120px 0;
        }
        .best-info-tit {
          font-size: 22px;
          font-weight: $font-bold;
          line-height: 1.27;
          @include mobileMore {
            font-size: 26px;
          }
          @include desktop {
            font-size: 44px;
          }
        }
        .best-info-price {
          font-size: 12px;
          padding: 8px 0;
          @include mobileMore {
            font-size: 14px;
            padding: 18px 0;
          }
          @include desktop {
            font-size: 22px;
            padding: 18px 0;
          }
        }
        .best-info-price-origin {
          color: $primary;
          text-decoration: line-through;
        }
        .best-info-more {
          display: none;
          @include mobileMore {
            display: flex;
            justify-content: center;
            align-items: center;
            button {
              position: static;
            }
          }
          @include desktop {
            position: absolute;
            top: 57%;
            left: 50%;
            transform: translateX(-50%);
            z-index: 5;
            // display: none;
            // img 태그에 hover 시 display: flex; 로 변경
            button {
              width: 217px;
              height: 59px;
              background: rgba(255, 255, 255, 0.7);
              border-radius: 32px;
              z-index: 9999;
            }
          }
        }
      }
      img {
        position: absolute;
        top: 58%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 196px;
        height: 200px;
        object-fit: contain;
        @include desktop {
          top: 59%;
          width: 320px;
          height: 280px;
        }
      }
    }
    .swiper-pagination {
      display: flex;
      bottom: 30px;
      left: 50%;
      width: fit-content;
      transform: translateX(-50%);
      @include mobileMore {
        bottom: 60px;
      }
      @include desktop {
        bottom: 120px;
      }
    }
  }
  @include mobileMore {
    .sec-g__cont {
      display: flex;
      .swiper {
        margin: 0;
        flex-grow: 1;
        border: none;
      }
    }
  }
  @include desktop {
    .swiper {
      height: 576px;
    }
  }
}

.sec-new {
  width: 100%;
  // height: 664px;
  .sec-g__cont {
    position: relative;
    padding-left: $p-mobile;
    @include mobileMore {
      padding-left: $p-tablet;
    }
    @include desktop {
      padding-left: 160px;
    }
    .swiper-button-play-pause {
      position: absolute;
      bottom: -0.8%;
      left: 44%;
      &.default::before {
        display: block;
        content: "\f04c";
        width: 20px;
        height: 20px;
        font-family: "Line Awesome Free";
        font-weight: 900;
        color: $black;
      }
      &.clicked::before {
        content: "\f04b";
        display: block;
        width: 20px;
        height: 20px;
        font-family: "Line Awesome Free";
        font-weight: 900;
        color: $black;
      }
      span {
        @include sr-only;
      }
    }
    .new-overlay {
      .swiper-wrapper {
        gap: 14px;
        @include mobileMore {
          gap: 30px;
        }
        @include desktop {
          gap: 60px;
        }
        .swiper-slide {
          position: relative;
          &::before {
            position: absolute;
            content: "";
            top: 1px;
            left: 0;
            right: 0;
            width: 240px;
            height: 310px;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 1));
            @include mobileMore {
              width: 223px;
              height: 295px;
            }
            @include desktop {
              width: 420px;
              height: 594px;
            }
          }
          .new-txt {
            position: relative;
            top: -8px;
            padding: 0 5px;
            width: 100%;
            line-height: 1.11;
            @include desktop {
              padding: 0 10px;
            }
            .item-tit {
              text-align: left;
              font-size: 18px;
              font-weight: $font-bold;
              margin-bottom: 6px;
              @include mobileMore {
                font-size: 20px;
                // margin-bottom: 12px;
              }
              @include desktop {
                font-size: 32px;
                margin-bottom: 12px;
              }
            }
            .item-en-tit {
              text-align: left;
              font-size: 14px;
              font-weight: $font-light;
              margin-bottom: 13px;
              letter-spacing: -0.3px;
              @include mobileMore {
                font-size: 12px;
                // margin-bottom: 27px;
              }
              @include desktop {
                font-size: 18px;
                margin-bottom: 27px;
              }
            }
            .item-tag {
              display: flex;
              font-size: 12px;
              @include mobileMore {
                font-size: 11px;
              }
              @include desktop {
                font-size: 18px;
              }
              ul {
                display: flex;
                align-items: center;
                li {
                  // height: 24px;
                  border-radius: 22px;
                  padding: 4px 7px 6px 7px;
                  margin-right: 5px;
                  background-color: #fff2f2;
                  color: $primary;
                  @include desktop {
                    padding: 8px 10px;
                  }
                }
              }
            }
          }
        }

        .slide-a-type {
          width: 240px;
          img {
            width: 100%;
            height: 310px;
          }
          @include mobileMore {
            width: 223px;
            img {
              height: 295px;
            }
          }
          @include desktop {
            width: 420px;
            img {
              height: 594px;
            }
          }
        }
        .slide-b-type {
          width: 300px;
          &::before {
            width: 300px;
            height: 220px;
          }
          img {
            width: 300px;
            height: 220px;
            object-position: top;
          }
          @include mobileMore {
            width: 280px;
            &::before {
              width: 280px;
              height: 184px;
            }
            img {
              width: 100%;
              height: 184px;
              object-position: top;
            }
          }
          @include desktop {
            width: 598px;
            &::before {
              width: 598px;
              height: 397px;
            }
            img {
              width: 100%;
              height: 397px;
              object-position: top;
            }
          }
        }
      }
    }
  }
  .swiper-pagination {
    position: static;
    width: fit-content;
    padding-left: 10px;
    padding-top: 60px;
    @include desktop {
      padding-top: 120px;
      padding-left: 15px;
    }
    // .swiper-pagination-bullet {
    //   background-color: rgb(68, 68, 68);
    //   margin: 0 20px 0 0;
    //   width: 5px;
    //   height: 5px;
    //   &-active {
    //     // bullet이 활성화된 경우
    //   }
    // }
  }
}

.sec-look {
  .inner {
    padding-right: 160px;
  }
  .sec-g__desc {
    font-size: 20px;
    line-height: 1.5;
    @include tabletMore {
      font-size: 40px;
      letter-spacing: -0.5px;
      line-height: 1.3;
    }
  }
  .sec-g__cont {
    margin-top: 32px;
    @include tabletMore {
      margin-top: 60px;
    }
    .sec-look__default {
      display: flex;
      flex-direction: column;
      gap: 18px;
      @include mobileMore {
        gap: 31px;
      }
      @include tabletMore {
        display: none;
      }
      a {
        display: flex;
        width: 100%;
        height: 405px;
        border-radius: 34px;
        overflow: hidden;
        @include mobileMore {
          height: 630px;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center 0;
        }
      }
      &__img {
        height: 100%;
        flex-grow: 1;
        flex-basis: 0;
      }
      &__info-tablet {
        display: none;
        position: relative;
        height: 100%;
        background: #e1dfe7;
        flex-grow: 1;
        flex-basis: 0;
        @include mobileMore {
          display: block;
          &__txt-box {
            position: absolute;
            bottom: 12%;
            left: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            gap: 24px;
            padding: 0 30px;
            .info-name {
              font-size: 26px;
              font-weight: $font-bold;
              line-height: 1.2;
            }
            .info-price {
              font-size: 20px;
            }
          }
        }
        &__img {
          width: 344px;
          height: 481.58px;
          margin: auto;
        }
      }
    }
  }
  @include tabletMore {
    .sec-g__more {
      display: none;
    }
  }
  &__pc-ver {
    display: flex;
    &__info {
      width: 35%;
      a {
        display: block;
        width: 370px;
        height: 350px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .info-more {
          margin-top: 93px;
          button {
            position: static;
            font-size: 18px;
            border-radius: 30px;
            padding: 17px 15px 17px 20px;
            gap: 12px;
            &::after {
              width: 13px;
              height: 13px;
            }
          }
        }
      }
      &__txt {
        display: flex;
        flex-direction: column;
        gap: 20px;
        strong {
          font-size: 32px;
          letter-spacing: -1px;
        }
        span {
          font-size: 22px;
        }
      }
    }
    &__img {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      gap: 42px;
      margin-top: -330px;
      li:nth-child(2) {
        padding-top: 240px;
      }
      li:nth-child(3) {
        margin-top: -240px;
      }
      a {
        display: block;
        width: 475px;
        height: 665px;
        border-radius: 38px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

.sec-branding {
  .sec-g__tit {
    @include sr-only;
  }
  .sec-g__cont {
    width: calc(100% + (2 * ($p-mobile)));
    transform: translateX(-$p-mobile);
    @include mobileMore {
      width: calc(100% + (2 * ($p-tablet)));
      transform: translateX(-$p-tablet);
    }
    @include desktop {
      width: calc(100% + 200px);
      transform: translateX(-160px);
    }
    .swiper-button-play-pause {
      position: absolute;
      bottom: 45px;
      left: 88%;
      &.default::before {
        display: block;
        content: "\f04c";
        width: 20px;
        height: 20px;
        font-family: "Line Awesome Free";
        font-weight: 900;
        color: $white;
      }
      &.clicked::before {
        content: "\f04b";
        display: block;
        width: 20px;
        height: 20px;
        font-family: "Line Awesome Free";
        font-weight: 900;
        color: $white;
      }
      span {
        @include sr-only;
      }
    }
  }
  .overlay {
    width: 100%;
    height: auto;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7));
    @include desktop {
      height: 793px;
    }
  }
  .branding-txt {
    position: absolute;
    bottom: 17%;
    left: 0;
    right: 0;
    color: $white;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.15;
    &__title {
      letter-spacing: -1px;
    }
    &__desc,
    &__more {
      display: none;
    }
    @include mobileMore {
      font-size: 26px;
      bottom: 22%;
      &__desc,
      &__more {
        display: block;
      }
      &__desc {
        font-size: 14px;
        font-weight: normal;
        margin-top: 10px;
        line-height: 1.43;
        letter-spacing: -0.5px;
      }
      .info-more {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        button {
          position: static;
          border-color: $white;
          color: $white;
          letter-spacing: -1.5px;
          gap: 10px;
          &::after {
            background: url(../../../resources/images/pattern/common/arrow-right.svg) no-repeat 0 0;
          }
        }
      }
    }
    @include desktop {
      font-size: 44px;
      &__desc,
      &__more {
        display: block;
      }
      &__desc {
        font-size: 22px;
        font-weight: normal;
        margin-top: 18px;
        line-height: 1.3;
        letter-spacing: -1.2px;
      }
      .info-more {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        button {
          position: static;
          // border-color: $white;
          border-radius: 23px;
          // color: $white;
          // letter-spacing: -1.5px;
          // gap: 10px;
          font-size: 18px;
          padding: 10px 11px 10px 19px;
          &::after {
            // background: url(../../../resources/images/pattern/common/arrow-right.svg) no-repeat 0 0;
            width: 13px;
            height: 13px;
          }
        }
      }
    }
  }
  .swiper-pagination {
    position: absolute;
    display: flex;
    gap: 4%;
    bottom: 55px;
    left: $p-mobile;
    width: 79%;
    @include mobileMore {
      left: $p-tablet;
      gap: 2%;
      width: 83%;
    }
    @include tabletMore {
      gap: 2%;
      width: 85%;
    }
    @include desktop {
      left: 65px;
      bottom: 100px;
    }
    .swiper-pagination-bullet {
      background-color: rgba($white, 0.5);
      width: 17px;
      height: 3px;
      border-radius: 0;
      font-size: 13px;
      font-weight: $font-light;
      text-align: left;
      @include mobileMore {
        // width: 140px;
        width: 100%;
      }
      &::before {
        display: block;
        content: "";
        width: 0;
        height: 100%;
        background-color: rgba($white, 1);
        transition: all 3s linear;
        transform-origin: left;
      }
      &::after {
        padding-top: 5px;
        display: block;
        content: "";
        color: $white;
        @include desktop {
          font-size: 22px;
        }
      }
      &:first-child::after {
        content: "01 BRAND";
      }
      &:nth-child(2)::after {
        content: "02 CAMPAIGN";
      }
      &:nth-child(3)::after {
        content: "03 REVIEW";
      }
      &:nth-child(4)::after {
        content: "04 COLLECTIONS";
      }

      &-active {
        // bullet이 활성화된 경우
        // width: 191px;
        width: 100%;
        background-color: rgba($white, 0.1);
        &::before {
          width: 100%;
        }
        @include desktop {
          // width: 396px;
          background-color: rgba($white, 0.1);
          &::before {
            width: 100%;
          }
        }
      }
    }
  }
}
