// 서브페이지 스타일
// 공통/레이아웃 스타일
.brand-h1 {
  @include sr-only;
}

.brand-h2 {
  @include sr-only;
}

.sec-b {
  &__inner {
    height: 100%;
    padding: 0 30px;
  }
}

// ======================

.brand-key {
  height: 200vh;
  &__top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    border-bottom: 3px solid salmon;
  }
  &__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    &__txt {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p {
        text-align: center;
        line-height: 1.35;
        margin-bottom: 38px;
        strong {
          font-size: 35px;
          letter-spacing: -1px;
        }
      }
    }
  }
}

.brand-intro {
  .sec-b__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    div {
      font-size: 20px;
      text-align: center;
      strong {
        color: $primary;
      }
    }
  }
  &__arrow {
    position: absolute;
    left: auto;
    right: auto;
    bottom: 40px;
    p {
      font-size: 16px;
      letter-spacing: -1px;
    }
  }
}

.brand-video {
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.brand-info {
  height: auto;
  .sec-b__inner {
    padding: 30px;
    height: auto;
  }
  &__txt {
    &__title {
      display: flex;
      flex-direction: column;
      gap: 11px;
      strong {
        font-size: 34px;
      }
      svg {
        width: 95px;
        height: 25px;
      }
    }
    &__body {
      font-size: 13px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: 35px;
    }
  }
  &__img {
    img {
      display: block;
      width: 100%;
    }
  }
}

.brand-pillar {
  &__img {
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    svg {
      width: 92px;
      height: 16px;
    }
    h3 {
      font-size: 32.5px;
    }
  }
}
