// 서브페이지 스타일
// 공통/레이아웃 스타일
.brand-h1 {
  @include sr-only;
}

.brand-h2 {
  @include sr-only;
}

.sec-b {
  &__inner {
    height: 100%;
    padding: 0 30px;
  }
}

.mobileMore-br {
  display: none;
}
@include mobileMore {
  .mobile-br {
    display: none;
  }
  .mobileMore-br {
    display: inline;
  }
}

svg {
  overflow: visible;
}

// =======================================

.brand-key {
  height: 200vh;
  &__top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    border-bottom: 3px solid salmon;
    svg {
      height: 43px;
      @include mobileMore {
        height: 37.55px;
      }
      @include tabletMore {
        height: 93px;
      }
    }
  }
  &__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    &__txt {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p {
        text-align: center;
        line-height: 1.35;
        margin-bottom: 38px;
        strong {
          display: block;
          font-size: 35px;
          letter-spacing: -1px;
        }
        @include mobileMore {
          font-size: 12px;
          letter-spacing: 1.5px;
          margin-bottom: 53px;
          strong {
            margin-top: 8px;
          }
        }
        @include tabletMore {
          font-size: 32px;
          letter-spacing: 4px;
          margin-bottom: 70px;
          strong {
            font-size: 80px;
          }
        }
      }
      svg {
        height: 17px;
        @include mobileMore {
          height: 15px;
        }
        @include tabletMore {
          height: 38px;
        }
      }
    }
  }
}

.brand-intro {
  .sec-b__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__txt {
    font-size: 19.5px;
    text-align: center;
    @include tabletMore {
      font-size: 48px;
    }
    strong {
      color: $primary;
    }
  }
  &__arrow {
    position: absolute;
    left: auto;
    right: auto;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mobileMore {
      display: none;
    }
    p {
      font-size: 15px;
      letter-spacing: -1px;
    }
  }
}

.brand-video {
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.brand-info {
  height: auto;
  @include tabletMore {
    display: flex;
    flex-direction: row-reverse;
    &__box {
      width: 50%;
    }
  }
  &__txt {
    padding: 30px;
    @include mobileMore {
      padding: 45px;
    }
    @include tabletMore {
      padding: 110px;
    }
    &__title {
      strong {
        font-size: 34px;
        display: block;
        margin-top: 3px;
        margin-bottom: 10px;
      }
      svg {
        height: 17px;
      }
      @include tabletMore {
        font-size: 32px;
        strong {
          font-size: 80px;
          letter-spacing: -3px;
          margin-top: 7px;
          margin-bottom: 50px;
        }
        svg {
          height: 35px;
        }
      }
    }
    &__body {
      font-size: 13px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: 35px;
      @include mobileMore {
        gap: 18px;
      }
      @include tabletMore {
        font-size: 20px;
        margin-top: 60px;
        gap: 24px;
        line-height: 1.75;
        letter-spacing: 1px;
      }
    }
  }
  &__img {
    img {
      display: block;
      width: 100%;
    }
  }
}

.brand-pillar {
  &__img {
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    svg {
      height: 16px;
      @include tabletMore {
        height: 42px;
      }
    }
    h3 {
      font-size: 31.5px;
      @include mobileMore {
        margin-top: 10px;
      }
      @include tabletMore {
        font-size: 80px;
        margin-top: 30px;
      }
    }
  }
}

.brand-product {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  &__txt {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 30px;
    @include mobileMore {
      padding: 60px 30px;
      gap: 24px;
    }
    @include tabletMore {
      padding: 90px 150px;
      gap: 36px;
    }
    p:first-child {
      font-size: 10px;
      font-weight: $font-bold;
      strong {
        font-size: 16px;
      }
      span {
        display: inline-block;
        margin: 0 3px;
      }
      @include tabletMore {
        font-size: 18px;
        strong {
          font-size: 30px;
        }
        span {
          margin: 0 6px;
        }
      }
    }
    h2 {
      font-size: 28px;
      @include tabletMore {
        font-size: 65px;
        letter-spacing: -1px;
      }
    }
    h3 {
      font-size: 16px;
      @include tabletMore {
        font-size: 36px;
        letter-spacing: -1px;
        font-weight: $font-medium;
      }
    }
    p {
      font-size: 13px;
      @include tabletMore {
        font-size: 20px;
        line-height: 2;
      }
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 13px;
      font-size: 12px;
      background: $primary-30;
      width: fit-content;
      border-radius: 35px;
      padding: 17px 23px;
      color: $white;
      @include tabletMore {
        font-size: 18px;
        margin-top: 32px;
      }
      &::after {
        content: "";
        display: block;
        background: url(../../../resources/images/pattern/common/arrow-right.svg) center/cover;
        width: 11px;
        height: 11px;
      }
    }
  }
  @include mobileMore {
    flex-direction: row;
    gap: 0;
    &__box {
      width: 50%;
    }
  }
}

.brand-end {
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    text-align: center;
    h3 {
      font-size: 34px;
      letter-spacing: -1.5px;
    }
    svg {
      height: 17px;
      margin-top: 30px;
    }
    @include mobileMore {
      h3 {
        font-size: 36px;
        letter-spacing: -1px;
      }
      svg {
        height: 15px;
        margin-top: 37.5px;
      }
    }
    @include tabletMore {
      h3 {
        font-size: 90px;
      }
      svg {
        height: 38px;
        margin-top: 84px;
      }
    }
  }
}
